body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

.jumbotron {
  color: white;
  height: 550px;
  padding-top: 200px;
  padding-bottom: 25px;
  background-image: url('../public/img/intro-bg.jpg');
  background-size: cover;
}

.text-bg {
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
}

.navbar {
  background-color: white;
  margin-bottom: 0px;
}

.glyphicon-large {
  font-size: 50px;
}

.pb25 {
  padding-bottom: 25px;
}

.download-section {
  height: 250px;
  background-image: url('../public/img/downloads-bg.jpg');
  background-size: cover;
}
